/* Global styling */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(62deg, #ffffff 10%, #ffffff 90%);
}

button {
  padding: 6px 10px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  background: #078638;
  border: 1px solid #078638;
}

button:hover {
  background: white;
  color: #078638;
  border: 1px solid #078638;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

/* header */
.main-header {
  background-color: #078638;
  color: white;
  margin: auto;
  position: sticky;
  top: 0px;
}

.logo {
  display: flex;
  flex: 0.1;
}

nav {
  width: 95%;
  padding: 8px;
  margin: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1080px) {
  body {
    text-align: center;
  }
  .logo {
    padding: 2px;
  }
}

#header-search {
  padding: 5px;
  height: 45px;
  margin: auto;
  border: none;
  display: flex;
  flex: 0.3;
}

.navigation {
  margin: auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex: 0.5;
  list-style: none;
}

/*section - main*/
.main {
  padding: 180px;
  font-size: 24px;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: url(./Assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

.main h2 {
  padding: 12px;
}

.search-main {
  justify-content: center;
  display: flex;
  color: white;
}

#search {
  padding: 5px;
  height: 45px;
  width: 550px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: none;
}

/* Benefits */
.benefits-head {
  padding: 20px;
  margin: 20px;
  justify-content: center;
}

.benefits-img {
  padding: 20px;
  margin: 20px;
  justify-content: center;
  display: flex;
}

.benefits-head h2 {
  font-size: 28px;
  text-align: center;
  padding: 30px;
}

#inspiration {
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

#inspiration h2 {
  font-size: 28px;
  margin: 50px auto 0px;
  text-align: center;
  width: 60%;
}

.inspirations-wrapper {
  display: flex;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  text-align: start;
}

.inspirations {
  margin: 13px;
  padding: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  width: 33%;
}

.inspirations img {
  height: 165px;
  width: 100%;
}

.inspirations h3 {
  color: turquoise;
  font-size: 14px;
  font-weight: bold;
}

.inspirations h4 {
  font-size: 18px;
}

.inspirations-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* Packages */
#packages {
  margin: 10px;
  padding: 10px;
  justify-content: center;
  width: 100%;
}

#packages h2 {
  font-size: 28px;
  text-align: center;
  margin: 50px auto 0px;
  width: 50%;
}

.product-cards {
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: start;
}

.product-cards h3 {
  color: turquoise;
  font-size: 14px;
  font-weight: bold;
}

.product-cards h4 {
  font-size: 18px;
}

.product-cards h5 {
  color: cadetblue;
  font-size: 14px;
}

.product-cards h6 {
  margin: 10px;
  font-size: 16px;
  color: darkslategray;
}

.card-flex1 {
  display: flex;
  justify-content: space-between;
}

.card-flex2 {
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  width: 22%;
}

.card img {
  height: 155px;
  width: 100%;
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.footer-wrapper {
  min-height: 55vh;
  background-color: #04773080;
  color: rgb(255, 255, 255);
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer {
  margin: 25px;
  padding: 25px;
}

.footer .logo {
  margin-bottom: 3px;
}

.footer1 h3 {
  font-size: small;
  align-items: center;
  text-align: center;
}

.footer1-icons {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 4px;
  margin-left: 5px;
}

.footer1-icons svg {
  margin: 4px;
}

/* Benefits */
.benefit-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.benefit-card img {
  width: 50%;
  height: 100%;
  margin-right: 14px;
}

.benefit-content {
  margin-bottom: 0px;
  color: white;
}

.benefit-content h5 {
  font-weight: bold;
  font-size: 16px;
}

.benefit-content p {
  font-size: 10px;
}

.benefit-card {
  display: flex;
  background-color: #078638;
  align-items: center;
  margin: 0px 10px;
}

.sections {
  margin: 0px auto;
  width: 90%;
}
